<!-- footer -->
.footer.txt-c
  .aligner
    .aligner-item.aligner-item-top.paxl
      %span#legal-text ©2016 Pivotal Software, Inc. All Rights Reserved.
       
      %span
        %span
          %a{:href => "https://run.pivotal.io/policies/privacy-policy/"} Privacy Policy
          %span -
      %span
        %span
          %a{:href => "https://run.pivotal.io/policies/terms-of-service"} Terms of Service
          %span

