#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Invite User
      %form{ action: '/invite-confirmation'}
        .modal-body
          %label{ style: 'display: block;'}
            Email address
            %input.form-control{ type: 'email', value: ''}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          %input.btn.btn-primary{:type => "submit", value: 'Send Invite'}
