%form#user_search.form-inline.pbxxl{action: '/search-results'}
  %label{ style: 'display: block;'}
    Search for Users
  %input.form-control{ type: 'text', value: '', placeholder: 'Enter a username'}
  %button#search.form-control.btn.btn-default-alt.mll
    Search
